/* http://nale12.deviantart.com/ */

@define-color base_color #0d0d0d;
@define-color text_color #999999;
@define-color bg_color #202020;
@define-color fg_color #aaaaaa;
@define-color selected_bg_color #334657;
/*@define-color selected_bg_color #5c616c;*/

@define-color selected_fg_color #cccccc;
@define-color tooltip_bg_color #4C7B9D;
@define-color tooltip_fg_color #000000;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;
@define-color theme_light_color #909090;
@define-color theme_lighter_color #999999;
@define-color theme_dark_color #0D0D0D;
@define-color theme_darker_color #000000;
@define-color button_gradient_color_a #404040;
@define-color button_gradient_color_b #1f1f1f;
@define-color transparent rgba (0, 0, 0, 0);
@define-color button_hover_gradient_color_a #334657;
@define-color button_hover_gradient_color_b shade (@theme_selected_bg_color, 0.50);
@define-color levelbar_color #326895;
@define-color progressbar_background_a #334657;
@define-color progressbar_background_b shade (@theme_selected_bg_color, 0.52);
@define-color progressbar_pattern #000000;
@define-color button_insensitive_color #777777;
@define-color insensitive_color #555555;
@define-color menubar_bg_a #212121;
@define-color menubar_bg_b #1D1D1D;
@define-color menubar_border_bottom #090909;
@define-color notebook_color #232323;
@define-color tab_color #1E1E1E;
@define-color notebook_tab_gradient_a @button_gradient_color_a;
@define-color notebook_tab_gradient_b @button_gradient_color_b;
@define-color toolbar_border_top #2F2F2F;
@define-color toolbar_bg_a #1d1d1d;
@define-color toolbar_bg_b #151515;
@define-color toolbar_button_gradient_color_a #393939;
@define-color toolbar_button_gradient_color_b #181818;
@define-color toolbar_button_hover_gradient_color_a shade (@theme_selected_bg_color, 0.72);
@define-color toolbar_button_hover_gradient_color_b shade (@theme_selected_bg_color, 0.33);
@define-color active_color #4C94AF;
@define-color link_color #005E81;
@define-color warning_color #DC8128;
@define-color error_color #D74545;
@define-color success_color #567637;
@define-color info_fg_color rgb (208, 208, 42);
@define-color info_bg_color rgb (136, 136, 0);
@define-color warning_fg_color rgb (255, 164, 75);
@define-color warning_bg_color rgb (119, 64, 9);
@define-color question_fg_color rgb (92, 58, 255);
@define-color question_bg_color rgb (55, 38, 130);
@define-color error_fg_color rgb (255, 81, 81);
@define-color error_bg_color rgb (113, 0, 0);
@import url("gtk-widgets.css");
@import url("unity.css");
/***********
 * Buttons *
 ***********/

button.titlebutton,
button {
   padding: 4px 8px;
}

scrolledwindow undershoot {
   background-color: transparent;
}

separator {
   background: rgba(255, 255, 255, 0.06);
   min-width: 1px;
   min-height: 1px;
}

/*************
 * Notebooks *
 *************/

notebook>header {
   padding: 1px;
   border-color: rgba(0, 0, 0, 0.41);
   border-width: 1px;
   background-color: alpha(#1f1f20, 0.8);
}

notebook>header:backdrop {
   border-color: rgba(0, 0, 0, 0.21);
   background-color: alpha(#1f1f20, 0.6);
}

notebook>header tabs {
   margin: -1px;
}

notebook>header.top {
   border-bottom-style: solid;
}

notebook>header.top>tabs {
   margin-bottom: -2px;
}

notebook>header.top>tabs>tab:hover {
   box-shadow: inset 0 -3px rgba(0, 0, 0, 0.41);
}

notebook>header.top>tabs>tab:backdrop {
   box-shadow: none;
}

notebook>header.top>tabs>tab:checked {
   box-shadow: inset 0 -3px @theme_selected_bg_color;
}

notebook>header.bottom {
   border-top-style: solid;
}

notebook>header.bottom>tabs {
   margin-top: -2px;
}

notebook>header.bottom>tabs>tab:hover {
   box-shadow: inset 0 3px rgba(0, 0, 0, 0.41);
}

notebook>header.bottom>tabs>tab:backdrop {
   box-shadow: none;
}

notebook>header.bottom>tabs>tab:checked {
   box-shadow: inset 0 3px @theme_selected_bg_color;
}

notebook>header.left {
   border-right-style: solid;
}

notebook>header.left>tabs {
   margin-right: -2px;
}

notebook>header.left>tabs>tab:hover {
   box-shadow: inset -3px 0 rgba(0, 0, 0, 0.41);
}

notebook>header.left>tabs>tab:backdrop {
   box-shadow: none;
}

notebook>header.left>tabs>tab:checked {
   box-shadow: inset -3px 0 @theme_selected_bg_color;
}

notebook>header.right {
   border-left-style: solid;
}

notebook>header.right>tabs {
   margin-left: -2px;
}

notebook>header.right>tabs>tab:hover {
   box-shadow: inset 3px 0 rgba(0, 0, 0, 0.41);
}

notebook>header.right>tabs>tab:backdrop {
   box-shadow: none;
}

notebook>header.right>tabs>tab:checked {
   box-shadow: inset 3px 0 @theme_selected_bg_color;
}

notebook>header.top>tabs>arrow {
   border-top-style: none;
}

notebook>header.bottom>tabs>arrow {
   border-bottom-style: none;
}

notebook>header.top>tabs>arrow,
notebook>header.bottom>tabs>arrow {
   margin-left: -5px;
   margin-right: -5px;
   padding-left: 4px;
   padding-right: 4px;
}

notebook>header.top>tabs>arrow.down,
notebook>header.bottom>tabs>arrow.down {
   -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

notebook>header.top>tabs>arrow.up,
notebook>header.bottom>tabs>arrow.up {
   -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

notebook>header.left>tabs>arrow {
   border-left-style: none;
}

notebook>header.right>tabs>arrow {
   border-right-style: none;
}

notebook>header.left>tabs>arrow,
notebook>header.right>tabs>arrow {
   margin-top: -5px;
   margin-bottom: -5px;
   padding-top: 4px;
   padding-bottom: 4px;
}

notebook>header.left>tabs>arrow.down,
notebook>header.right>tabs>arrow.down {
   -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

notebook>header.left>tabs>arrow.up,
notebook>header.right>tabs>arrow.up {
   -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

notebook>header>tabs>arrow {
   min-height: 16px;
   min-width: 16px;
   border-radius: 0;
}

notebook>header>tabs>arrow:hover:not(:active):not(:backdrop) {
   background-clip: padding-box;
   background-image: none;
   background-color: rgba(255, 255, 255, 0.3);
   border-color: transparent;
   box-shadow: none;
}

notebook>header>tabs>arrow:disabled {
   border-color: transparent;
   background-color: transparent;
   background-image: none;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0);
   text-shadow: none;
   -gtk-icon-shadow: none;
}

notebook>header tab {
   min-height: 30px;
   min-width: 30px;
   outline-offset: -5px;
   color: @theme_unfocused_fg_color;
   font-weight: bold;
   border-width: 1px;
   border-color: transparent;
}

notebook>header tab:hover {
   color: @theme_fg_color;
}

notebook>header tab:hover.reorderable-page {
   border-color: rgba(37, 37, 38, 0.3);
   background-color: rgba(52, 52, 53, 0.2);
}

notebook>header tab:backdrop {
   color: alpha(@theme_fg_color, 0.8);
}

notebook>header tab:backdrop.reorderable-page {
   border-color: transparent;
   background-color: transparent;
}

notebook>header tab:checked {
   color: shade(@theme_fg_color, 1.2);
}

notebook>header tab:checked.reorderable-page {
   border-color: rgba(47, 47, 48, 0.5);
   background-color: rgba(62, 62, 63, 0.5);
}

notebook>header tab:checked.reorderable-page:hover {
   background-color: rgba(62, 62, 63, 0.62);
}

notebook>header tab:backdrop:checked {
   color: alpha(@theme_unfocused_fg_color, 0.8);
}

notebook>header tab:backdrop:checked.reorderable-page {
   border-color: rgba(0, 0, 0, 0.21);
   background-color: rgba(62, 62, 63, 0.35);
}

notebook>header tab button.flat {
   padding: 0;
   margin-top: 4px;
   margin-bottom: 4px;
   min-width: 20px;
   min-height: 20px;
}

notebook>header tab button.flat:hover {
   color: currentColor;
}

notebook>header tab button.flat,
notebook>header tab button.flat:backdrop {
   color: alpha(currentColor, 0.3);
}

notebook>header tab button.flat:last-child {
   margin-left: 4px;
   margin-right: -4px;
}

notebook>header tab button.flat:first-child {
   margin-left: -4px;
   margin-right: 4px;
}

notebook>header.top tabs,
notebook>header.bottom tabs {
   padding-left: 4px;
   padding-right: 4px;
}

notebook>header.top tabs:not(:only-child),
notebook>header.bottom tabs:not(:only-child) {
   margin-left: 3px;
   margin-right: 3px;
}

notebook>header.top tabs:not(:only-child):first-child,
notebook>header.bottom tabs:not(:only-child):first-child {
   margin-left: -1px;
}

notebook>header.top tabs:not(:only-child):last-child,
notebook>header.bottom tabs:not(:only-child):last-child {
   margin-right: -1px;
}

notebook>header.top tabs tab,
notebook>header.bottom tabs tab {
   margin-left: 4px;
   margin-right: 4px;
}

notebook>header.top tabs tab.reorderable-page,
notebook>header.bottom tabs tab.reorderable-page {
   border-style: none solid;
}

notebook>header.left tabs,
notebook>header.right tabs {
   padding-top: 4px;
   padding-bottom: 4px;
}

notebook>header.left tabs:not(:only-child),
notebook>header.right tabs:not(:only-child) {
   margin-top: 3px;
   margin-bottom: 3px;
}

notebook>header.left tabs:not(:only-child):first-child,
notebook>header.right tabs:not(:only-child):first-child {
   margin-top: -1px;
}

notebook>header.left tabs:not(:only-child):last-child,
notebook>header.right tabs:not(:only-child):last-child {
   margin-bottom: -1px;
}

notebook>header.left tabs tab,
notebook>header.right tabs tab {
   margin-top: 4px;
   margin-bottom: 4px;
}

notebook>header.left tabs tab.reorderable-page,
notebook>header.right tabs tab.reorderable-page {
   border-style: solid none;
}

notebook>header.top tab {
   padding-bottom: 4px;
}

notebook>header.bottom tab {
   padding-top: 4px;
}

notebook>stack:not(:only-child) {
   background-color: #000000;
}

notebook>stack:not(:only-child):backdrop {
   background-color: alpha(#0c0c0c, 0.8);
}

/**************
 * Scrollbars *
 **************/

scrollbar {
   background-color: #232324;
   transition: 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

* {
   -GtkScrollbar-has-backward-stepper: false;
   -GtkScrollbar-has-forward-stepper: false;
}

scrollbar.top {
   border-bottom: 1px solid rgba(0, 0, 0, 0.41);
}

scrollbar.bottom {
   border-top: 1px solid rgba(0, 0, 0, 0.41);
}

scrollbar.left {
   border-right: 1px solid rgba(0, 0, 0, 0.41);
}

scrollbar.right {
   border-left: 1px solid rgba(0, 0, 0, 0.41);
}

scrollbar:backdrop {
   background-color: #1e1e1f;
   border-color: rgba(0, 0, 0, 0.21);
   transition: 200ms ease-out;
}

scrollbar slider {
   min-width: 6px;
   min-height: 6px;
   margin: -1px;
   border: 4px solid transparent;
   border-radius: 8px;
   background-clip: padding-box;
   background-color: alpha(@theme_selected_bg_color, 0.70);
}

scrollbar slider:hover {
   background-color: alpha(@theme_selected_bg_color, 0.80);
}

scrollbar slider:hover:active {
   background-color: alpha(@theme_selected_bg_color, 0.90);
}

scrollbar slider:backdrop {
   background-color: alpha(@theme_selected_bg_color, 0.65);
}

scrollbar slider:disabled {
   background-color: transparent;
}

scrollbar.fine-tune slider {
   min-width: 4px;
   min-height: 4px;
}

scrollbar.fine-tune.horizontal slider {
   border-width: 5px 4px;
}

scrollbar.fine-tune.vertical slider {
   border-width: 4px 5px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
   border-color: transparent;
   opacity: 0.4;
   background-color: transparent;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
   margin: 0;
   min-width: 3px;
   min-height: 3px;
   background-color: @theme_fg_color;
   border: 1px solid white;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button {
   min-width: 5px;
   min-height: 5px;
   background-color: @theme_fg_color;
   background-clip: padding-box;
   border-radius: 100%;
   border: 1px solid white;
   -gtk-icon-source: none;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider {
   margin: 0 2px;
   min-width: 40px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal button {
   margin: 1px 2px;
   min-width: 5px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical slider {
   margin: 2px 0;
   min-height: 40px;
}

scrollbar.overlay-indicator:not(.dragging):not(.hovering).vertical button {
   margin: 2px 1px;
   min-height: 5px;
}

scrollbar.overlay-indicator.dragging,
scrollbar.overlay-indicator.hovering {
   opacity: 0.8;
}

scrollbar.horizontal slider {
   min-width: 40px;
}

scrollbar.vertical slider {
   min-height: 40px;
}

scrollbar button {
   padding: 0;
   min-width: 12px;
   min-height: 12px;
   border-style: none;
   border-radius: 0;
   transition-property: min-height, min-width, color;
   border-color: transparent;
   background-color: transparent;
   background-image: none;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0);
   text-shadow: none;
   -gtk-icon-shadow: none;
   color: alpha(@theme_selected_bg_color, 0.70);
}

scrollbar button:hover {
   border-color: transparent;
   background-color: transparent;
   background-image: none;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0);
   text-shadow: none;
   -gtk-icon-shadow: none;
   color: alpha(@theme_selected_bg_color, 0.80);
}

scrollbar button:active,
scrollbar button:checked {
   border-color: transparent;
   background-color: transparent;
   background-image: none;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0);
   text-shadow: none;
   -gtk-icon-shadow: none;
   color: alpha(@theme_selected_bg_color, 0.90);
}

scrollbar button:disabled {
   border-color: transparent;
   background-color: transparent;
   background-image: none;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0);
   text-shadow: none;
   -gtk-icon-shadow: none;
   color: alpha(@theme_selected_bg_color, 0.30);
}

scrollbar button:backdrop {
   border-color: transparent;
   background-color: transparent;
   background-image: none;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0);
   text-shadow: none;
   -gtk-icon-shadow: none;
   color: alpha(@theme_selected_bg_color, 0.65);
}

scrollbar button:backdrop:disabled {
   border-color: transparent;
   background-color: transparent;
   background-image: none;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0);
   text-shadow: none;
   -gtk-icon-shadow: none;
   color: alpha(@theme_selected_bg_color, 0.30);
}

scrollbar.vertical button.down {
   -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up {
   -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scrollbar.horizontal button.down {
   -gtk-icon-source: -gtk-icontheme("pan-right-symbolic");
}

scrollbar.horizontal button.up {
   -gtk-icon-source: -gtk-icontheme("pan-left-symbolic");
}

treeview~scrollbar.vertical {
   border-top: 1px solid rgba(0, 0, 0, 0.41);
   margin-top: -1px;
}

/**********
 * Frames *
 **********/

frame>border,
.frame {
   box-shadow: none;
   margin: 0;
   padding: 0;
   border-radius: 0;
   border: 1px solid alpha(@theme_selected_bg_color, 0.65);
}

frame>border.flat,
.frame.flat {
   border-style: none;
}

frame>border:backdrop,
.frame:backdrop {
   border-color: alpha(@theme_selected_bg_color, 0.45);
}

actionbar>revealer>box {
   padding: 6px;
   border-top: 1px solid alpha(@theme_selected_bg_color, 0.65);
}

actionbar>revealer>box:backdrop {
   border-color: alpha(@theme_selected_bg_color, 0.45);
}

scrolledwindow viewport.frame {
   border-style: none;
}

scrolledwindow overshoot.top {
   background-image: -gtk-gradient(radial, center top, 0, center top, 0.5, to(alpha(@theme_selected_bg_color, 0.2)), to(rgba(132, 132, 127, 0))), -gtk-gradient(radial, center top, 0, center top, 0.6, from(rgba(46, 52, 54, 0.07)), to(rgba(46, 52, 54, 0)));
   background-size: 100% 5%, 100% 100%;
   background-repeat: no-repeat;
   background-position: center top;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

scrolledwindow overshoot.top:backdrop {
   background-image: -gtk-gradient(radial, center top, 0, center top, 0.5, to(alpha(@theme_selected_bg_color, 0.12)), to(rgba(165, 165, 161, 0)));
   background-size: 100% 5%;
   background-repeat: no-repeat;
   background-position: center top;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

scrolledwindow overshoot.bottom {
   background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.5, to(alpha(@theme_selected_bg_color, 0.2)), to(rgba(132, 132, 127, 0))), -gtk-gradient(radial, center bottom, 0, center bottom, 0.6, from(rgba(46, 52, 54, 0.07)), to(rgba(46, 52, 54, 0)));
   background-size: 100% 5%, 100% 100%;
   background-repeat: no-repeat;
   background-position: center bottom;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

scrolledwindow overshoot.bottom:backdrop {
   background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.5, to(alpha(@theme_selected_bg_color, 0.12)), to(rgba(165, 165, 161, 0)));
   background-size: 100% 5%;
   background-repeat: no-repeat;
   background-position: center bottom;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

scrolledwindow overshoot.left {
   background-image: -gtk-gradient(radial, left center, 0, left center, 0.5, to(alpha(@theme_selected_bg_color, 0.2)), to(rgba(132, 132, 127, 0))), -gtk-gradient(radial, left center, 0, left center, 0.6, from(rgba(46, 52, 54, 0.07)), to(rgba(46, 52, 54, 0)));
   background-size: 5% 100%, 100% 100%;
   background-repeat: no-repeat;
   background-position: left center;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

scrolledwindow overshoot.left:backdrop {
   background-image: -gtk-gradient(radial, left center, 0, left center, 0.5, to(alpha(@theme_selected_bg_color, 0.12)), to(rgba(165, 165, 161, 0)));
   background-size: 5% 100%;
   background-repeat: no-repeat;
   background-position: left center;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

scrolledwindow overshoot.right {
   background-image: -gtk-gradient(radial, right center, 0, right center, 0.5, to(alpha(@theme_selected_bg_color, 0.2)), to(rgba(132, 132, 127, 0))), -gtk-gradient(radial, right center, 0, right center, 0.6, from(rgba(46, 52, 54, 0.07)), to(rgba(46, 52, 54, 0)));
   background-size: 5% 100%, 100% 100%;
   background-repeat: no-repeat;
   background-position: right center;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

scrolledwindow overshoot.right:backdrop {
   background-image: -gtk-gradient(radial, right center, 0, right center, 0.5, to(alpha(@theme_selected_bg_color, 0.12)), to(rgba(165, 165, 161, 0)));
   background-size: 5% 100%;
   background-repeat: no-repeat;
   background-position: right center;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

scrolledwindow undershoot.top {
   background-color: transparent;
   /*
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.2) 50%);
*/
   background-color: rgba(0, 0, 0, 0.2);
   padding-top: 1px;
   background-size: 10px 1px;
   background-repeat: repeat-x;
   background-origin: content-box;
   background-position: center top;
   border: none;
   box-shadow: none;
}

scrolledwindow undershoot.bottom {
   background-color: transparent;
   /*
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.2) 50%);
*/
   background-color: rgba(0, 0, 0, 0.2);
   padding-bottom: 1px;
   background-size: 10px 1px;
   background-repeat: repeat-x;
   background-origin: content-box;
   background-position: center bottom;
   border: none;
   box-shadow: none;
}

scrolledwindow undershoot.left {
   background-color: transparent;
   /*
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.2) 50%);
*/
   background-color: rgba(0, 0, 0, 0.2);
   padding-left: 1px;
   background-size: 1px 10px;
   background-repeat: repeat-y;
   background-origin: content-box;
   background-position: left center;
   border: none;
   box-shadow: none;
}

scrolledwindow undershoot.right {
   background-color: transparent;
   /*
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.2) 50%);
*/
   background-color: rgba(0, 0, 0, 0.2);
   padding-right: 1px;
   background-size: 1px 10px;
   background-repeat: repeat-y;
   background-origin: content-box;
   background-position: right center;
   border: none;
   box-shadow: none;
}

scrolledwindow junction {
   border-color: transparent;
   /*
  border-image: linear-gradient(to bottom, alpha(@theme_selected_bg_color,0.65) 1px, transparent 1px) 0 0 0 1/0 1px stretch;
*/
   border-color: @theme_selected_bg_color;
   background-color: @theme_selected_bg_color;
}

scrolledwindow junction:dir(rtl) {
   border-image-slice: 0 1 0 0;
}

scrolledwindow junction:backdrop {
   border-image-source: linear-gradient(to bottom, alpha(@theme_selected_bg_color, 0.45) 1px, transparent 1px);
   background-color: alpha(@theme_selected_bg_color, 0.8);
   transition: 200ms ease-out;
}

separator {
   background: rgba(255, 255, 255, 0.06);
   min-width: 1px;
   min-height: 1px;
}

/****************
 * Text Entries *
 ****************/

spinbutton:not(.vertical),
entry {
   min-height: 32px;
   padding-left: 8px;
   padding-right: 8px;
   border: 1px solid;
   border-radius: 3px;
   transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
   color: @theme_fg_color;
   border-color: rgba(0, 0, 0, 0.41);
   /*
  background-image: linear-gradient(to bottom, #1a1a1b, #1d1d1e 2px, #1f1f20 90%);
*/
   background-color: #1a1a1b;
   box-shadow: inset 0 0 0 1px rgba(74, 144, 217, 0);
}

spinbutton:not(.vertical) image.left,
entry image.left {
   padding-left: 0;
   padding-right: 6px;
}

spinbutton:not(.vertical) image.right,
entry image.right {
   padding-left: 6px;
   padding-right: 0;
}

spinbutton:not(.vertical) undershoot.left,
entry undershoot.left {
   background-color: transparent;
   /*
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
*/
   background-color: rgba(0, 0, 0, 0.2);
   padding-left: 1px;
   background-size: 1px 10px;
   background-repeat: repeat-y;
   background-origin: content-box;
   background-position: left center;
   border: none;
   box-shadow: none;
}

spinbutton:not(.vertical) undershoot.right,
entry undershoot.right {
   background-color: transparent;
   /*
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2) 50%, rgba(0, 0, 0, 0.2) 50%);
*/
   background-color: rgba(0, 0, 0, 0.2);
   padding-right: 1px;
   background-size: 1px 10px;
   background-repeat: repeat-y;
   background-origin: content-box;
   background-position: right center;
   border: none;
   box-shadow: none;
}

spinbutton.flat:focus:not(.vertical),
spinbutton.flat:not(.vertical),
entry.flat:focus,
entry.flat {
   min-height: 0;
   padding: 2px;
   background-image: none;
   border-color: transparent;
   border-radius: 0;
}

spinbutton:focus:not(.vertical),
entry:focus {
   box-shadow: inset 0 0 0 1px @theme_selected_bg_color;
   border-color: @theme_selected_bg_color;
}

spinbutton:disabled:not(.vertical),
entry:disabled {
   color: alpha(@theme_unfocused_fg_color, 0.55);
   border-color: rgba(0, 0, 0, 0.21);
   /*
    background-image: linear-gradient(to bottom, #1a1a1b);
*/
   background-color: #1a1a1b;
   box-shadow: none;
}

spinbutton:backdrop:not(.vertical),
entry:backdrop {
   color: alpha(@theme_unfocused_fg_color, 0.8);
   border-color: rgba(0, 0, 0, 0.21);
   /*
    background-image: linear-gradient(to bottom, alpha(#1f1f20,0.8));
*/
   background-color: #1f1f20;
   box-shadow: none;
   transition: 200ms ease-out;
}

spinbutton:backdrop:disabled:not(.vertical),
entry:backdrop:disabled {
   color: alpha(@theme_unfocused_fg_color, 0.55);
   border-color: rgba(0, 0, 0, 0.21);
   /*
    background-image: linear-gradient(to bottom, alpha(#1a1a1b,0.65));
*/
   background-color: #1a1a1b;
   box-shadow: none;
}

spinbutton.error:not(.vertical),
entry.error {
   color: #cc0000;
   border-color: #cc0000;
}

spinbutton.error:focus:not(.vertical),
entry.error:focus {
   box-shadow: inset 0 0 0 1px #cc0000;
   border-color: #cc0000;
}

spinbutton.error:selected:focus:not(.vertical),
spinbutton.error:selected:not(.vertical),
entry.error:selected:focus,
entry.error:selected {
   background-color: #cc0000;
}

spinbutton.warning:not(.vertical),
entry.warning {
   color: #f57900;
   border-color: #f57900;
}

spinbutton.warning:focus:not(.vertical),
entry.warning:focus {
   box-shadow: inset 0 0 0 1px #f57900;
   border-color: #f57900;
}

spinbutton.warning:selected:focus:not(.vertical),
spinbutton.warning:selected:not(.vertical),
entry.warning:selected:focus,
entry.warning:selected {
   background-color: #f57900;
}

spinbutton:not(.vertical) image,
entry image {
   color: #585d5e;
}

spinbutton:not(.vertical) image:hover,
entry image:hover {
   color: @theme_fg_color;
}

spinbutton:not(.vertical) image:active,
entry image:active {
   color: @theme_selected_bg_color;
}

spinbutton:not(.vertical) image:backdrop,
entry image:backdrop {
   color: #a2a4a5;
}

spinbutton:drop(active):focus:not(.vertical),
spinbutton:drop(active):not(.vertical),
entry:drop(active):focus,
entry:drop(active) {
   border-color: @theme_selected_bg_color;
   box-shadow: inset 0 0 0 1px @theme_selected_bg_color;
}

.osd spinbutton:not(.vertical),
.osd entry {
   color: white;
   border-color: rgba(0, 0, 0, 0.7);
   /*
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
*/
   background-color: rgba(0, 0, 0, 0.5);
   background-clip: padding-box;
   box-shadow: none;
   text-shadow: 0 1px black;
   -gtk-icon-shadow: 0 1px black;
}

.osd spinbutton:focus:not(.vertical),
.osd entry:focus {
   color: white;
   border-color: @theme_selected_bg_color;
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
   background-clip: padding-box;
   box-shadow: inset 0 0 0 1px @theme_selected_bg_color;
   text-shadow: 0 1px black;
   -gtk-icon-shadow: 0 1px black;
}

.osd spinbutton:backdrop:not(.vertical),
.osd entry:backdrop {
   color: white;
   border-color: rgba(0, 0, 0, 0.7);
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5));
   background-clip: padding-box;
   box-shadow: none;
   text-shadow: none;
   -gtk-icon-shadow: none;
}

.osd spinbutton:disabled:not(.vertical),
.osd entry:disabled {
   color: #878a89;
   border-color: rgba(0, 0, 0, 0.7);
   background-image: linear-gradient(to bottom, rgba(53, 57, 58, 0.5));
   background-clip: padding-box;
   box-shadow: none;
   text-shadow: none;
   -gtk-icon-shadow: none;
}

spinbutton:not(.vertical) progress,
entry progress {
   margin: 2px -6px;
   background-color: transparent;
   background-image: none;
   border-radius: 0;
   border-width: 0 0 2px;
   border-color: @theme_selected_bg_color;
   border-style: solid;
   box-shadow: none;
}

spinbutton:not(.vertical) progress:backdrop,
entry progress:backdrop {
   background-color: transparent;
}

.linked:not(.vertical)>spinbutton:focus:not(.vertical)+spinbutton:not(.vertical),
.linked:not(.vertical)>spinbutton:focus:not(.vertical)+button,
.linked:not(.vertical)>spinbutton:focus:not(.vertical)+combobox>box>button.combo,
.linked:not(.vertical)>entry:focus+spinbutton:not(.vertical),
.linked:not(.vertical)>entry:focus+button,
.linked:not(.vertical)>entry:focus+combobox>box>button.combo,
.linked:not(.vertical)>spinbutton:focus:not(.vertical)+entry,
.linked:not(.vertical)>entry:focus+entry {
   border-left-color: @theme_selected_bg_color;
}

.linked:not(.vertical)>spinbutton:drop(active):not(.vertical)+spinbutton:not(.vertical),
.linked:not(.vertical)>spinbutton:drop(active):not(.vertical)+button,
.linked:not(.vertical)>spinbutton:drop(active):not(.vertical)+combobox>box>button.combo,
.linked:not(.vertical)>entry:drop(active)+spinbutton:not(.vertical),
.linked:not(.vertical)>entry:drop(active)+button,
.linked:not(.vertical)>entry:drop(active)+combobox>box>button.combo,
.linked:not(.vertical)>spinbutton:drop(active):not(.vertical)+entry,
.linked:not(.vertical)>entry:drop(active)+entry {
   border-left-color: @theme_selected_bg_color;
}

.linked.vertical>spinbutton:not(:disabled):not(.vertical)+entry:not(:disabled),
.linked.vertical>spinbutton:not(:disabled):not(.vertical)+spinbutton:not(:disabled):not(.vertical),
.linked.vertical>entry:not(:disabled)+entry:not(:disabled),
.linked.vertical>entry:not(:disabled)+spinbutton:not(:disabled):not(.vertical) {
   border-top-color: rgba(0, 0, 0, 0.41);
   background-image: linear-gradient(to bottom, #1f1f20);
}

.linked.vertical>spinbutton:not(:disabled):not(.vertical)+entry:not(:disabled):backdrop,
.linked.vertical>spinbutton:not(:disabled):not(.vertical)+spinbutton:not(:disabled):backdrop:not(.vertical),
.linked.vertical>entry:not(:disabled)+entry:not(:disabled):backdrop,
.linked.vertical>entry:not(:disabled)+spinbutton:not(:disabled):backdrop:not(.vertical) {
   border-top-color: rgba(0, 0, 0, 0.21);
   background-image: linear-gradient(to bottom, alpha(#1f1f20, 0.8));
}

.linked.vertical>spinbutton:disabled:not(.vertical)+spinbutton:disabled:not(.vertical),
.linked.vertical>spinbutton:disabled:not(.vertical)+entry:disabled,
.linked.vertical>entry:disabled+spinbutton:disabled:not(.vertical),
.linked.vertical>entry:disabled+entry:disabled {
   border-top-color: rgba(0, 0, 0, 0.41);
}

.linked.vertical>spinbutton:not(.vertical)+spinbutton:focus:not(:only-child):not(.vertical),
.linked.vertical>spinbutton:not(.vertical)+entry:focus:not(:only-child),
.linked.vertical>entry+spinbutton:focus:not(:only-child):not(.vertical),
.linked.vertical>entry+entry:focus:not(:only-child) {
   border-top-color: @theme_selected_bg_color;
}

.linked.vertical>spinbutton:not(.vertical)+spinbutton:drop(active):not(:only-child):not(.vertical),
.linked.vertical>spinbutton:not(.vertical)+entry:drop(active):not(:only-child),
.linked.vertical>entry+spinbutton:drop(active):not(:only-child):not(.vertical),
.linked.vertical>entry+entry:drop(active):not(:only-child) {
   border-top-color: @theme_selected_bg_color;
}

.linked.vertical>spinbutton:focus:not(:only-child):not(.vertical)+spinbutton:not(.vertical),
.linked.vertical>spinbutton:focus:not(:only-child):not(.vertical)+entry,
.linked.vertical>spinbutton:focus:not(:only-child):not(.vertical)+button,
.linked.vertical>spinbutton:focus:not(:only-child):not(.vertical)+combobox>box>button.combo,
.linked.vertical>entry:focus:not(:only-child)+spinbutton:not(.vertical),
.linked.vertical>entry:focus:not(:only-child)+entry,
.linked.vertical>entry:focus:not(:only-child)+button,
.linked.vertical>entry:focus:not(:only-child)+combobox>box>button.combo {
   border-top-color: @theme_selected_bg_color;
}

.linked.vertical>spinbutton:drop(active):not(:only-child):not(.vertical)+spinbutton:not(.vertical),
.linked.vertical>spinbutton:drop(active):not(:only-child):not(.vertical)+entry,
.linked.vertical>spinbutton:drop(active):not(:only-child):not(.vertical)+button,
.linked.vertical>spinbutton:drop(active):not(:only-child):not(.vertical)+combobox>box>button.combo,
.linked.vertical>entry:drop(active):not(:only-child)+spinbutton:not(.vertical),
.linked.vertical>entry:drop(active):not(:only-child)+entry,
.linked.vertical>entry:drop(active):not(:only-child)+button,
.linked.vertical>entry:drop(active):not(:only-child)+combobox>box>button.combo {
   border-top-color: @theme_selected_bg_color;
}

treeview acceleditor>label {
   background-color: @theme_selected_bg_color;
}

treeview entry.flat,
treeview entry {
   border-radius: 0;
   background-image: none;
   background-color: #1f1f20;
}

treeview entry.flat:focus,
treeview entry:focus {
   border-color: @theme_selected_bg_color;
}

.view:selected:focus,
iconview:selected:focus,
.view:selected,
iconview:selected,
.view text:selected:focus,
iconview text:selected:focus,
textview text:selected:focus,
.view text:selected,
iconview text:selected,
textview text:selected,
.view text selection:focus,
iconview text selection:focus,
.view text selection,
iconview text selection,
textview text selection:focus,
textview text selection,
flowbox flowboxchild:selected,
spinbutton:not(.vertical) selection:focus,
spinbutton:not(.vertical) selection,
entry selection:focus,
entry selection,
modelbutton.flat:selected,
popover.background checkbutton:selected,
popover.background radiobutton:selected,
.menuitem.button.flat:selected,
treeview.view:selected:focus,
treeview.view:selected,
row:selected,
calendar:selected {
   background-color: @theme_selected_bg_color;
}

row:selected label,
label:selected,
.selection-mode button.titlebutton,
.view:selected:focus,
iconview:selected:focus,
.view:selected,
iconview:selected,
.view text:selected:focus,
iconview text:selected:focus,
textview text:selected:focus,
.view text:selected,
iconview text:selected,
textview text:selected,
.view text selection:focus,
iconview text selection:focus,
.view text selection,
iconview text selection,
textview text selection:focus,
textview text selection,
flowbox flowboxchild:selected,
spinbutton:not(.vertical) selection:focus,
spinbutton:not(.vertical) selection,
entry selection:focus,
entry selection,
modelbutton.flat:selected,
popover.background checkbutton:selected,
popover.background radiobutton:selected,
.menuitem.button.flat:selected,
treeview.view:selected:focus,
treeview.view:selected,
row:selected,
calendar:selected {
   color: #000000;
   outline-color: rgba(255, 255, 255, 0.3);
}

row:selected label:disabled,
label:disabled:selected,
.selection-mode button.titlebutton:disabled,
iconview:disabled:selected:focus,
.view:disabled:selected,
iconview:disabled:selected,
iconview text:disabled:selected:focus,
textview text:disabled:selected:focus,
.view text:disabled:selected,
iconview text:disabled:selected,
textview text:disabled:selected,
iconview text selection:disabled:focus,
.view text selection:disabled,
iconview text selection:disabled,
textview text selection:disabled,
flowbox flowboxchild:disabled:selected,
label:disabled selection,
spinbutton:not(.vertical) selection:disabled,
entry selection:disabled,
modelbutton.flat:disabled:selected,
popover.background checkbutton:disabled:selected,
popover.background radiobutton:disabled:selected,
.menuitem.button.flat:disabled:selected,
row:disabled:selected,
calendar:disabled:selected {
   color: alpha(@theme_unfocused_fg_color, 0.3);
}

row:selected label:backdrop,
label:backdrop:selected,
.selection-mode button.titlebutton:backdrop,
iconview:backdrop:selected:focus,
.view:backdrop:selected,
iconview:backdrop:selected,
iconview text:backdrop:selected:focus,
textview text:backdrop:selected:focus,
.view text:backdrop:selected,
iconview text:backdrop:selected,
textview text:backdrop:selected,
iconview text selection:backdrop:focus,
.view text selection:backdrop,
iconview text selection:backdrop,
textview text selection:backdrop,
flowbox flowboxchild:backdrop:selected,
label:backdrop selection,
spinbutton:not(.vertical) selection:backdrop,
entry selection:backdrop,
modelbutton.flat:backdrop:selected,
popover.background checkbutton:backdrop:selected,
popover.background radiobutton:backdrop:selected,
.menuitem.button.flat:backdrop:selected,
row:backdrop:selected,
calendar:backdrop:selected {
   color: alpha(#0c0c0c, 0.8);
}

row:selected label:backdrop:disabled,
label:backdrop:disabled:selected,
.selection-mode button.titlebutton:backdrop:disabled,
.view:backdrop:disabled:selected,
iconview:backdrop:disabled:selected,
.view text:backdrop:disabled:selected,
iconview text:backdrop:disabled:selected,
textview text:backdrop:disabled:selected,
.view text selection:backdrop:disabled,
iconview text selection:backdrop:disabled,
textview text selection:backdrop:disabled,
flowbox flowboxchild:backdrop:disabled:selected,
label:disabled selection:backdrop,
label:backdrop selection:disabled,
spinbutton:not(.vertical) selection:backdrop:disabled,
entry selection:backdrop:disabled,
modelbutton.flat:backdrop:disabled:selected,
popover.background checkbutton:backdrop:disabled:selected,
popover.background radiobutton:backdrop:disabled:selected,
.menuitem.button.flat:backdrop:disabled:selected,
row:backdrop:disabled:selected,
calendar:backdrop:disabled:selected {
   color: alpha(#0c0c0d, 0.65);
}

/*********
 * Menus *
 *********/

menubar,
.menubar {
   -GtkWidget-window-dragging: true;
   padding: 0px;
   background-image: linear-gradient(to bottom, alpha(#101011, 0.9), alpha(#121214, 0.9));
   background-color: transparent;
   box-shadow: inset 0 -1px rgba(0, 0, 0, 0.36);
}

menubar:backdrop,
.menubar:backdrop {
   background-image: linear-gradient(to bottom, alpha(#101011, 0.85), alpha(#141418, 0.85));
   background-color: transparent;
}

menubar>menuitem,
.menubar>menuitem {
   min-height: 16px;
   padding: 4px 8px;
   color: #88888b;
}

menubar>menuitem:hover,
.menubar>menuitem:hover {
   box-shadow: inset 0 -3px @theme_selected_bg_color;
   color: @theme_selected_bg_color;
}

menubar>menuitem:disabled,
.menubar>menuitem:disabled {
   color: alpha(@theme_unfocused_fg_color, 0.55);
   box-shadow: none;
}

menu,
.menu {
   margin: 4px;
   padding: 2px 0px;
   background-color: #000000;
   border: 1px solid #4d5257;
}

.csd menu,
.csd .menu {
   border: 1px solid #4d5257;
}

menu:backdrop,
.menu:backdrop {
   border: 1px solid transparent;
   background-color: alpha(#0c0c0d, 0.8);
}

menu menuitem,
.menu menuitem {
   min-height: 16px;
   min-width: 40px;
   padding: 4px 6px;
   text-shadow: none;
}

menu menuitem:hover,
.menu menuitem:hover,

menu menuitem:hover > *,
.menu menuitem:hover > * {
   color: @theme_selected_fg_color;
   background-color: @theme_selected_bg_color;
}

menu menuitem:disabled,
.menu menuitem:disabled {
   color: alpha(@theme_unfocused_fg_color, 0.55);
}

menu menuitem:disabled:backdrop,
.menu menuitem:disabled:backdrop {
   color: alpha(@theme_unfocused_fg_color, 0.55);
}

menu menuitem:backdrop,
menu menuitem:backdrop:hover,
.menu menuitem:backdrop,
.menu menuitem:backdrop:hover {
   color: alpha(@theme_unfocused_fg_color, 0.55);
   background-color: transparent;
}

menu menuitem arrow,
.menu menuitem arrow {
   min-height: 16px;
   min-width: 16px;
}

menu menuitem arrow:dir(ltr),
.menu menuitem arrow:dir(ltr) {
   -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
   margin-left: 10px;
}

menu menuitem arrow:dir(rtl),
.menu menuitem arrow:dir(rtl) {
   -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
   margin-right: 10px;
}

menu>arrow,
.menu>arrow {
   border-color: transparent;
   background-color: @theme_base_color;
   background-image: none;
   box-shadow: inset 0 1px rgba(255, 255, 255, 0);
   text-shadow: none;
   -gtk-icon-shadow: none;
   min-height: 16px;
   min-width: 16px;
   padding: 4px;
   background-color: @theme_base_color;
   border-radius: 0;
}

menu>arrow.top,
.menu>arrow.top {
   margin-top: -6px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.41);
   -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

menu>arrow.bottom,
.menu>arrow.bottom {
   margin-bottom: -6px;
   border-top: 1px solid rgba(0, 0, 0, 0.41);
   -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

menu>arrow:hover,
.menu>arrow:hover {
   background-color: shade(@theme_base_color, 1.2);
}

menu>arrow:backdrop,
.menu>arrow:backdrop {
   background-color: alpha(@theme_base_color, 0.8);
}

menu>arrow:disabled,
.menu>arrow:disabled {
   color: transparent;
   background-color: transparent;
   border-color: transparent;
}

menuitem:hover * {
   color: @theme_selected_fg_color;
}

menuitem accelerator {
   color: alpha(currentColor, 0.55);
}

menuitem check,
menuitem radio {
   min-height: 16px;
   min-width: 16px;
}

menuitem check:dir(ltr),
menuitem radio:dir(ltr) {
   margin-right: 7px;
}

menuitem check:dir(rtl),
menuitem radio:dir(rtl) {
   margin-left: 7px;
}

toolbar {
   -GtkWidget-window-dragging: true;
   padding: 1px;
   background-color: #252525;
}

toolbar:not(.inline-toolbar) switch,
toolbar:not(.inline-toolbar) scale,
toolbar:not(.inline-toolbar) entry,
toolbar:not(.inline-toolbar) spinbutton,
toolbar:not(.inline-toolbar) button {
   margin-right: 1px;
   margin-bottom: 1px;
}

toolbar:not(.inline-toolbar) .linked>button,
toolbar:not(.inline-toolbar) .linked>entry {
   margin-right: 0;
}

button:focus {
   border-image: -gtk-scaled(url("borders/button-focused-border-dark.png"), url("borders/button-focused-border-dark@2.png")) 3 3 4 3/3px 3px 4px 3px stretch;
   border-radius: 2px;
   border-width: 1px 1px 2px 1px;
   border-style: solid;
   border-color: transparent;
}

button:hover {
   color: #F3F3F5;
   outline-color: rgba(243, 243, 245, 0.3);
   background-image: linear-gradient(to bottom, #5e6064, #393A3B);
   text-shadow: 0 -1px rgba(0, 0, 0, 0.7);
   -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.7);
   -gtk-icon-effect: highlight;
}

button:active,
button:checked {
   color: #ffffff;
   outline-color: rgba(255, 255, 255, 0.3);
   background-color: @theme_base_color;
   /*
    background-image: linear-gradient(to bottom, #5e6064, #393A3B);
*/
   text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
   -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.4);
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

check,
treeview.check {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-dark.png"), url("assets/checkbox-unchecked-dark@2.png"));
   -gtk-icon-shadow: none;
}

.view check:selected,
iconview check:selected,
.view check:selected:focus,
iconview check:selected:focus,
treeview.check:selected,
treeview.check:selected:focus,
menuitem check:hover,
row:selected check {
   background: none;
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-selected-dark.png"), url("assets/checkbox-unchecked-selected-dark@2.png"));
}

.osd check {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-dark.png"), url("assets/checkbox-unchecked-dark@2.png"));
}

check:disabled,
treeview.check:disabled {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive-dark.png"), url("assets/checkbox-unchecked-insensitive-dark@2.png"));
   -gtk-icon-shadow: none;
}

.view check:disabled:selected,
iconview check:disabled:selected,
.view check:disabled:selected:focus,
iconview check:disabled:selected:focus,
treeview.check:disabled:selected,
treeview.check:disabled:selected:focus,
menuitem check:disabled:hover,
row:selected check:disabled {
   background: none;
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive-selected-dark.png"), url("assets/checkbox-unchecked-insensitive-selected-dark@2.png"));
}

.osd check:disabled {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive-dark.png"), url("assets/checkbox-unchecked-insensitive-dark@2.png"));
}

check:indeterminate,
treeview.check:indeterminate {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-dark.png"), url("assets/checkbox-mixed-dark@2.png"));
   -gtk-icon-shadow: none;
}

.view check:indeterminate:selected,
iconview check:indeterminate:selected,
.view check:indeterminate:selected:focus,
iconview check:indeterminate:selected:focus,
treeview.check:indeterminate:selected,
treeview.check:indeterminate:selected:focus,
menuitem check:indeterminate:hover,
row:selected check:indeterminate {
   background: none;
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-selected-dark.png"), url("assets/checkbox-mixed-selected-dark@2.png"));
}

.osd check:indeterminate {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-dark.png"), url("assets/checkbox-mixed-dark@2.png"));
}

check:indeterminate:disabled,
treeview.check:indeterminate:disabled {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive-dark.png"), url("assets/checkbox-mixed-insensitive-dark@2.png"));
   -gtk-icon-shadow: none;
}

.view check:indeterminate:disabled:selected,
iconview check:indeterminate:disabled:selected,
.view check:indeterminate:disabled:selected:focus,
iconview check:indeterminate:disabled:selected:focus,
treeview.check:indeterminate:disabled:selected,
treeview.check:indeterminate:disabled:selected:focus,
menuitem check:indeterminate:disabled:hover,
row:selected check:indeterminate:disabled {
   background: none;
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive-selected-dark.png"), url("assets/checkbox-mixed-insensitive-selected-dark@2.png"));
}

.osd check:indeterminate:disabled {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive-dark.png"), url("assets/checkbox-mixed-insensitive-dark@2.png"));
}

check:checked,
treeview.check:checked {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-dark.png"), url("assets/checkbox-checked-dark@2.png"));
   -gtk-icon-shadow: none;
}

.view check:checked:selected,
iconview check:checked:selected,
.view check:checked:selected:focus,
iconview check:checked:selected:focus,
treeview.check:checked:selected,
treeview.check:checked:selected:focus,
menuitem check:checked:hover,
row:selected check:checked {
   background: none;
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-selected-dark.png"), url("assets/checkbox-checked-selected-dark@2.png"));
}

.osd check:checked {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-dark.png"), url("assets/checkbox-checked-dark@2.png"));
}

check:checked:disabled,
treeview.check:checked:disabled {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-dark.png"), url("assets/checkbox-checked-insensitive-dark@2.png"));
   -gtk-icon-shadow: none;
}

.view check:checked:disabled:selected,
iconview check:checked:disabled:selected,
.view check:checked:disabled:selected:focus,
iconview check:checked:disabled:selected:focus,
treeview.check:checked:disabled:selected,
treeview.check:checked:disabled:selected:focus,
menuitem check:checked:disabled:hover,
row:selected check:checked:disabled {
   background: none;
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-selected-dark.png"), url("assets/checkbox-checked-insensitive-selected-dark@2.png"));
}

.osd check:checked:disabled {
   -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive-dark.png"), url("assets/checkbox-checked-insensitive-dark@2.png"));
}
